.row {
    padding: 15px;
}

.fam-names-x {
    font-weight: normal;
}

.col-name {
    font-weight: normal;
}

h1 {
    font-family: 'Zen Antique Soft', serif;
}

text, p {
    font-family: 'Zen Antique Soft', serif;
}

